[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
drf-yasg = "*"
python-dotenv = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-phonenumbers = "*"
django-phonenumber-field = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
